.root {
	border: 4px solid rgb(225, 38, 38);
	position: absolute;
	height: 45px;
	opacity: 1;
	animation: fadeIn 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
